
.text-gradient {
    background: linear-gradient(to right, #ff0909, #666666);
    background-clip: none; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body{
    background-color: #fae3e2;
<<<<<<< HEAD
=======
  }
  .layout{
    height: 91vh;
>>>>>>> fd01d4c528b50d375f1b696c4c8fe24ef0aabff0
  }