
.text-gradient {
    background: linear-gradient(to right, #ff0909, #666666);
    background-clip: none; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  body{
    background-color: #fae3e2;
<<<<<<< HEAD
  }
  .layout{
    height: 91vh;
=======
>>>>>>> 4ae5b12a0f3bd584f28d0d9ea6b31b6c17abe661
  }